option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /v1/ping
  aws:autoscaling:asg:
    MinSize: '2'
  aws:elb:listener:
    ListenerEnabled: false
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: '80'
    SSLCertificateId: arn:aws:acm:us-west-2:983221622220:certificate/bab88acc-2970-4328-a180-8fcacc9a4a78
